* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("../images/darkSpace.jpg");
    background-size: contain;
    color: white;
}

.body-lightM {
    background: honeydew;
    color: black;
}

.github-lightM {
    content: url("../images/GitHub-Mark/PNG/GitHub-Mark-32px.png");
}

nav, ul{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 50px;
}

.icon {
    height: 32px;
}

.nav-btn {
    transition: box-shadow 0.5s, border 0.5s;
}

.nav-btn:hover {
    border: 3px solid #66FCF1;
    box-shadow: 0 0 20px #66FCF1, 0 0 20px #66FCF1 inset;
}

.nav-btn-lightM:hover {
    border: 3px solid transparent;
    box-shadow: 0 0 20px gray;
}

.nav-btn, .title:hover {
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    box-shadow: none;
    border-radius: 30px;
    background: transparent;
}

.theme {
    transform: rotate(180deg);
    transition: transform 1s;
}

.theme:active, .theme-rotate {
    transform: rotate(0);
    transition: transform 1s;
}

.theme-rotate:active {
    transform: rotate(180deg);
}

.menu {
    display: none;
    background: transparent;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    width: 90px;
    color:white;
}

.menu-option {
    color: black;
}

.menu-lightM {
    color:black;
}

@media all and (max-width: 700px) {
    .pages, .social {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .menu {
        display: block;
    }
}

.main-photo {
    width: 100%;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #66FCF1;
    box-shadow: 0 0 25px #66FCF1, 0 0 25px #66FCF1 inset;
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}

.four-sections {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 30px;
}

.group {
    width: 200px;
}

.testimonyPic1, .testimonyPic2, .testimonyPic3 {
    height: 200px;
    border-radius: 20%;
    border: 3px solid pink;
    box-shadow: 0 0 15px pink;
}

.asterisk {
    border-top: 10px groove #45A29E;
    border-bottom: 10px ridge #45A29E;
    background: #a6bbd8;
    height: 100px;
    padding: 5px;
    margin-top: 20px;
}

.api-link {
    text-decoration: underline;
}