* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

body {
    background: rgb(92, 219, 149);
}

nav {
    border-bottom: 10px groove #45A29E;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 50px;
}

ul {
    display: flex;
}

.nav-btn:hover {
    border: 2px solid white;
    border-radius: 15px;
    background: #45A29E;
}

.nav-btn, .title:hover {
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
    border: 2px solid transparent;
    border-collapse: separate;
    background: transparent;
}

.dropdown {
    display: none;
}

@media all and (max-width: 700px) {
    .pages, .social {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .dropdown {
        display: block;
        background: rgb(92, 219, 149);
        border: 2px solid transparent;
        border-radius: 15px;
    }
}


.main-photo {
    width: 100%;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin: 10px;
    padding: 20px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 40px;
}

.four-sections {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.group {
    width: 200px;
}

.testimonyPic1, .testimonyPic2, .testimonyPic3 {
    height: 200px;
    border-radius: 20%;
    border: 2px solid white;
}

.asterisk {
    border-top: 10px ridge #45A29E;
    border-bottom: 10px groove #45A29E;
    background: #1F2937;
    height: 100px;
    padding: 5px;
}