* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

body {
    background: rgb(92, 219, 149);
}

nav {
    border-bottom: 10px groove #45A29E;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 50px;
}

ul {
    display: flex;
}

.nav-btn:hover {
    border: 2px solid white;
    border-radius: 15px;
    background: #45A29E;
}

.nav-btn, .title:hover {
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
    border: 2px solid transparent;
    border-collapse: separate;
    background: transparent;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    padding: 20px;
}

.four-sections {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.testimonyPic1, .testimonyPic2, .testimonyPic3 {
    height: 200px;
    border-radius: 20%;
    border: 2px solid white;
}

.asterisk {
    background: #379683;
    height: 100px;
}